@import '~scss/index';

@include global;

body {
  margin-bottom: 30px;
}

.meeting {
  &__jumbotron {
    height: 180px;
    padding-top: 30px;

    * {
      position: relative;
      color: $color-white;
      text-align: center;
      z-index: 2;
    }

    &__title {
      font-size: 21px;
    }

    &__subtitle {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &__main {
    position: relative;
    z-index: 2;
    margin-top: -90px;
    margin-left: 15px;
    margin-right: 15px;
    background: $color-white;
    border-radius: $default-border-radius;

    &__title {
      padding: 30px 20px 10px;
      color: $color-black;
      font-size: 19px;
      img {
        height: 16px;
      }
    }

    &__tag {
      padding: 0 20px;
      * {
        display: inline-block;
        padding: 5px 8px;
        font-size: 12px;
        border-radius: 2px;
        &:not(:first-child) {
          margin-left: 6px;
        }
      }
    }

    &__subtitle {
      font-size: 15px;
      line-height: 1.5;
      color: $color-black;
      margin: 0 20px;
      padding: 20px 0;
    }

    &__section {
      padding: 20px 0 10px;
      margin: 0 20px;
      &:first-child {
        border-top: 1px solid $color-gray-light;
      }
      .head {
        margin-bottom: 10px;
        position: relative;
        .text {
          font-size: 12px;
        }
      }
      .body {
        * {
          color: $color-black;
          font-size: 15px;
          line-height: 1.25;
          display: inline-block;
          width: 25%;
          padding-right: 10px;
          @include ellipsis;
        }
      }
    }
     &__footer {
      margin-top: 20px;
      height: 32px;
      width: 100%;
      background: rgba($color-gray-lighter, .5);
      text-align: center;
      padding: 7px 0;
      img {
        height: 18px;
      }
    }
  }

  &__mask {
    width: 110%;
    height: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    transform: rotate(-10deg);
    transform-origin: 0 100%;
  }
}

/* variants */
.meeting--participant {
  .meeting {
    &__main {
      @include box-shadow($color: $color-primary-shadow);
      &__tag {
        * {
          color: $color-primary;
          background: $color-primary-lighter;
        }
      }
      &__section {
        .head {
          .text {
            color: $color-primary;
          }
        }
      }
    }
    &__mask {
      background: $color-primary;
      background: linear-gradient(30deg, $color-primary-darker, $color-primary);
    }
  }
}

.meeting--host {
  .meeting {
    &__main {
      @include box-shadow($color: $color-secondary-shadow);
      &__tag {
        * {
          color: $color-secondary;
          background: $color-secondary-lighter;
        }
      }
      &__section {
        .head {
          .text {
            color: $color-secondary;
          }
        }
      }
    }
    &__mask {
      background: $color-secondary;
      background: linear-gradient(30deg, $color-secondary-darker, $color-secondary);
    }
  }
}
