@import '~scss/index';

.jumbotron {
  width: 100%;
}

.card-wrapper {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 60px;

  .card {
    @extend %card;

    .logo {
      display: block;
      margin: 0 auto 20px;
    }

    .slogan {
      font-size: 18px;
      color: $color-gray-darker;
      text-align: center;
    }

    .input {
      @extend %input;
      margin-top: 118px;
    }

    .submit {
      @extend %button-primary;
      margin-top: 24px;
    }
  }
}
