<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <img class="jumbotron" src="<%= require('images/auth-jumbotron.png') %>" />
    <div class="card-wrapper">
      <div class="card">
        <img class="logo" src="<%= require('images/logo.png') %>" width="240" />
        <p class="slogan">Tox 智能会议系统</p>
        <input class="input" placeholder="公司名称" />
        <button class="submit is-disabled">下一步</button>
      </div>
    </div>
  </body>
</html>
