@import '~scss/index';

.jumbotron {
  width: 100%;
}

.card-wrapper {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 60px;

  .card {
    @extend %card;

    .logo {
      display: block;
      margin: 0 auto 20px;
      border-radius: 50%;
    }

    .company {
      font-size: 18px;
      color: $color-gray-darker;
      text-align: center;
    }

    .username,
    .password {
      @extend %input;
    }

    .username {
      margin-top: 83px;
    }

    .password {
      margin-top: 20px;
    }

    .submit {
      @extend %button-primary;
      margin-top: 24px;
    }
  }
}
