@import '~scss/index';

.jumbotron {
  width: 100%;
}

.card-wrapper {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 120px;

  .card {
    @extend %card;

    .logo {
      display: block;
      margin: 0 auto 40px;
    }

    .slogan {
      font-size: 54px;
      color: $color-gray-darker;
      text-align: center;
    }

    .username,
    .password {
      @extend %input;
    }

    .submit {
      @extend %button-primary;
      margin-top: 48px;
    }
  }
}
