$color-primary: rgb(59, 140, 243);
$color-primary-darker: rgb(18, 91, 218);
$color-primary-lighter: rgb(229, 242, 255);
$color-primary-shadow: rgba($color-primary, .5);
$color-primary-disabled: rgb(182, 208, 242);

$color-secondary: rgb(31, 204, 117);
$color-secondary-darker: rgb(3, 143, 72);
$color-secondary-lighter: rgb(226, 250, 226);
$color-secondary-shadow: rgba($color-secondary, .3);

$color-black: rgb(41, 45, 51);
$color-gray-darker: rgb(125, 137, 153);
$color-gray-dark: rgb(184, 192, 204);
$color-gray-light: rgb(223, 230, 237);
$color-gray-lighter: rgb(240, 245, 250);
$color-white: rgb(255, 255, 255);
