%card {
  padding: 30px 20px;
  background: $color-white;
  box-shadow: 0px 2px 14px $color-primary-shadow;
  border-radius: $default-border-radius;
}

%input {
  width: 100%;
  display: block;
  border: 1px solid $color-gray-light;
  border-radius: $default-border-radius;
  height: 40px;
  font-size: 16px;
  padding: {
    left: 14px;
    right: 14px;
  }
  color: $color-black;
  &::placeholder {
    color: $color-gray-dark;
  }
}

%button {
  width: 100%;
  display: block;
  border-radius: $default-border-radius;
  height: 40px;
  font-size: 16px;
  background: $color-white;
}

%button-primary {
  @extend %button;
  background: $color-primary;
  border: none;
  color: $color-white;
  &.is-disabled {
    background: rgb(229, 242, 255);
  }
}
